* {
    margin: 0;
    padding: 0;
}

.bloque {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
.ladoizq {
        background-color: rgb(121, 119, 119);
} 

.ladoizq {
    /*display: flex;*/
    height: 100%;
    max-width:50%;
    width: 50%;
    margin: left auto;
    padding-inline: inherit;

    
}

p {
    margin: 0;
    padding: 10px;
}
img {
    max-width: 100%;
    height: auto;
}